

.test{
    background-color: yellowgreen;
    color: rgb(221, 65, 65);
}

.title{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.miniTitle{
    font-family: 'M PLUS Code Latin', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

}



