
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #011936FF;
    color:#f4fffd;

    .logo-image {
        padding-left: 50px;
        color: #f4fffd;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .navbar-right{
        margin-right: 10px;
        
        .nav-links{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            cursor: pointer;

        .swap,
        .pool,
        .connect-wallet,
        .icon-settings,
        .hamboger-menue{
            text-decoration: none;
            color:#F4FFFDFF;
            font-size: 13px;
            padding: 10px 40px;
            margin: 0px, 20px;


            &:hover{
                color: #F9DC5CFF;
    
            }

            .modal-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        
        }
        
        
        .navbar-button{
            color:#011936FF;
            background-color: #F9DC5CFF;
            font-weight: 600;
            border: none;
            height: 35px;
            width: 110%;
            cursor: pointer;
            text-align: center;
            border-radius: 10px;
            font-size: 13px;

            &:hover{
                color:#F4FFFDFF;
                background-color:rgba(0, 0, 0, 0.5);
                cursor: pointer;


            }
        
        
        }
        }   

    }
}

.icon-settings{
    position: relative;
    z-index: 1000;
}

.icon-button{
    width: 0;
    height: 0;
    background: rgba(158, 123, 123, 0.0);
  
}

.component-settings{
   position:absolute; 
   top: 0;
   right: 1px;
   width: 120px;}

.modal{
    background-color:rgb(15, 15, 15);  
}

.connect-wallet-modal{
    background-color:#011936FF;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #f4fffd;
    text-align: center;
}


.wallet-items{
    width: 100%;
    height: auto;

    .wallet-item{
        display: flex;
    
        align-items: center;
        img{
            width: 100px;
            height: 60px;
            object-fit: cover;
            margin-right: 100px;
            padding: 10px 10px ;
            
        }

    }

    span{
        font-size: 12px;
    }

   
}

.imageSwap{
    display: flex;
    justify-content: space-around;
    transform: translateY(85%);
    z-index: -700;
    
     
 }

 
 


