body {
  margin: 0;
  padding: 0;
  background-image: url(../src/images/pattern-randomized.svg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .home img{
  width: 200px;
  height: 200px;
  margin-top: 300px;
} */

.home img{
  width: 400px;
  height: 300px;

  
}
